*{
    box-sizing: border-box;
}
body{
    background-color: lightcoral;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    background: transparent;
    box-shadow: 0 0 55px ;
    width: 700px;
    /* height: 300px; */
    margin: 100px auto;
    border-radius: 10px;
}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
}
.base h4{
    text-align: center;
    font-size: 30px;
border-bottom: 2px solid gray;
   margin-top: 0;
   color:red;
   text-shadow: 0 0 12px pink;
   font-weight: normal;
   padding: 5px;
}
.data{
    display: flex;
    gap: 100px;
    justify-content: flex-start;
}
.block{
    width: 100px;
    padding: 5px 20px;
}

.title{
    font-size: 25px;
    text-align: left;
    font-weight: normal;
    color: brown;
    word-spacing: 2.7px;
    letter-spacing:1px;
}

input[type=text]{
    width: 150px;
    margin: auto;
    outline: none;
    padding: 12px;
    border: 2px solid burlywood;
    border-radius: 2px;
    color: red;

}
input[type=text]:focus{
    box-shadow: 0 0 15px ;
    border: none;
}
input[type=submit]{
    width: 150px;
    margin-left: 35%;
    margin-top: 20px;
    border: none;
    outline: none;
    background: brown;
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}
input[type=submit]:hover{
    box-shadow: 0 0 15px brown ;
    background-color:burlywood;  
}
.age{
    display: block;
    margin: 10px;
    margin-top: 5px;
    padding-bottom: 20px;
    overflow: hidden;

    font-size: 35px;
    font-weight: normal;
    line-height:1.5 ;
    word-spacing: 2.7px;
    color: red;
    padding: 10px;

}